
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.imgProfile{
    max-width: 250px;
    border-radius: 50%;
    padding: 10px;
    aspect-ratio: 3/2;
}
.Card{
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    margin: 1rem;
    border: 5px solid black;
}
i{
    margin: 10px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnAddPeople{
    display: flex;
    justify-content: end;
    margin: 1rem;
}