@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  background-image: url("https://cdn.pixabay.com/photo/2021/06/14/21/33/spaceship-6336963_1280.jpg");
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
}
.form{
    box-shadow: 5px 5px 15px 5px #df6648dd;
    padding: 10px;
    background-color: #f09d9df3;
    /* border-radius: 5px; */
    border-radius: 13px;
}
.titleForm {
  font-size: 50px;
  color: black;
  display: flex;
  justify-content: center;
}
.imgProfile {
  max-width: 250px;
  border-radius: 50%;
  padding: 10px;
  aspect-ratio: 3/2;
}
.contact{
    display: flex;

}
.Card {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 15px 5px #000000;
  width: 40rem;
  background-color: rgba(28, 27, 27, 0.442);
  color: aliceblue;
}
i {
  margin: 10px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnAddPeople {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

svg path {
  stroke: white;
}
button:hover path {
  stroke: black;
}

.contactCounter{
  border:1px solid;
  background-color:white;
  color:black#000000;
  padding:5px
}
